# *

akonadi/
!alacritty/
!anyrun
autostart/
bleachbit/
# wine or proton related
cef_user_data/
Code - OSS/*
!Code - OSS/product.json
!Code - OSS/User
Code - OSS/User/globalStorage/
Code - OSS/User/History
Code - OSS/User/snippets
Code - OSS/User/workspaceStorage
!Code - OSS/User/settings.json
content_shell/
dconf/
!dunst/
Electron/
!eww/
!flameshot
!foot
!gallery-dl
libaccounts-glib/
# handbrake
ghb/
!git
goverlay/
!gtk-2.0
!gtk-3.0
gtk-3.0/assets
!gtk-4.0
!htop
!hypr
!hyprdots
!imv
inkscape/
JetBrains/
KDE/
kde.org/
kdedefaults/
!kitty
!Kvantum
libreoffice/
Loop_Hero/
!lsd
lutris/
!mako
MangoHud/
manjaro/
manjaro-tools/
matray/
menus/applications-merged/
!menus/applications.menu
!mpv
!nano
!neofetch
nwg-look/
obs-studio/
!oculante
Optimus Manager/
pamac/
pgadmin/
pipewire/
plasma-workspace/
protonvpn/
pulse/
qBittorrent/
!qimgv
!qt5ct
!qt6ct
QtProject/
retroarch/
!rofi/
rustdesk/
session/
sqlitebrowser/
!steamtinkerlaunch
!swaylock
!swww
syncthing/
systemd/
thorium/
tlpui/
unity3d/
vcmi/
!tofi
VCMI Team/
vlc/
VSCodium/*
!VSCodium/product.json
!VSCodium/User
VSCodium/User/globalStorage/
VSCodium/User/History
VSCodium/User/snippets
VSCodium/User/workspaceStorage
!VSCodium/User/settings.json
!waybar
!wayshot
!wleave
!wlogout
WowUpCf/
!xdg-desktop-portal
!xsettingsd
!yay
!zellij
zsh/.zcompdump*
zsh/.zsh_history
!zsh/.p10k.zsh
!zsh/.zshrc
!.gitignore

akregatorrc
appimagelauncher.cfg
appimagelauncher.cfg.lock
arkrc
baloofileinformationrc
!baloofilerc
bluedevilglobalrc
choqokrc
defaultcalendarrc
device_automounter_kcmrc
diskmonitorrc
!dolphinrc
drkonqirc
!electron-flags.conf
elisarc
emaildefaults
FastQSPrc
filelightrc
filetypesrc
flameshotrc
gtkrc
gtkrc-2.0
gwenviewrc
k3brc
kactivitymanagerd*
kate*
kcalcrc
kcharselectrc
kcmfonts
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kdenlive*
kdfrc
kfindrc
kfont*
kgammarc
kgetrc
kglobal*
kgpgrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kioslaverc
kmixrc
knfsshare
komparerc
konquerorrc
konsole*
kprivacyrc
krita*
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksniprc
ksplashrc
kssl*
ktime*
kwalletrc
kwin*
kwrite*
kxkbrc
linux-steam*
manjaro*
mimeapps.list
modprobe*
okular*
partition*
pavucontrol*
plasma*
power*
profile-cleaner.conf
qimgvrc
QtProject.conf
sddm*
showfoto*
soffice*
spectacle*
sweeper*
systemmonitorrc
systemsettingsrc
touchpad*
trashrc
Trolltech.conf
!user-dirs.dirs
user-dirs.locale
VirtualBoxrc
xdg-desktop-portal-kderc
yakuakerc
zoom*

hypr/wallpaper.log
Sirus Launcher/
vesktop/

history.txt
micro/buffers/
lapce-stable/db/
lapce-stable/queries/

NecroDancer/
history.sqlite3*
dolphin-emu/
Epic/
heroic/

ppsspp/
Proton/keyring*
gsmartcontrol/
czkawka/czkawka_gui_config_4.txt

go/
kdeconnect/
openmw/
github-copilot/
