spawn-at-startup "awww-daemon"
spawn-sh-at-startup "sleep 1 && awww img ~/images/wallpapers/yuuki.png"

spawn-at-startup "cosmic-osd"
spawn-at-startup "trayd"
spawn-at-startup "abar" "--config" "~/.config/abar/niri_config.toml"
spawn-at-startup "notred"
spawn-at-startup "poshanka"
