// Validate: niri validate -c ~/.config/niri/config.kdl
// Reload: save any included file (live reload)

include "environment.kdl"
include "input.kdl"
include "outputs.kdl"
include "themes/Sweet.kdl"
include "rules.kdl"
include "autostart.kdl"
include "binds.kdl"

hotkey-overlay {
    // skip-at-startup
}

prefer-no-csd

gestures {
    hot-corners {
        off
    }
}
